<!doctype html>
<html class="no-js" lang="zxx" dir="ltr">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Deepak - Personal Portfolio | web developer | graphic desginer
</title>
<meta name="google-site-verification" content="pleZACyiPN6uP4GBJk1sPL7iSVml1NocEXGxqa6LpNM" />

<link rel="shortcut icon" href="images/favicon.ico">

<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />

<link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png" />

<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />

<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png" />

<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />

<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png" />

<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png" />

<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png" />

<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180x180.png" />

<link rel="stylesheet" href="css/font-awesome.min.css">

<link rel="stylesheet" href="css/flaticon.css">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="css/plugins/bootstrap.min.css">

<link rel="stylesheet" href="css/plugins/elegant-icons.css">

<link rel="stylesheet" href="css/plugins/venobox.css" type="text/css" />

<link rel="stylesheet" href="css/plugins.css">

<link rel="stylesheet" href="style.css">
<meta name="application-name" content="Deepak - Personal portfolio" />
<meta name="robots" content="index,follow" />
<meta name="keywords" content="Deepak,tourguru,tourguru.site,deepak portfolio,Deepak kumar,web developer,graphic designer,logo designer,banner designer"> 
<meta name="description" content="Deepak is a best web developer, web designer, graphic designer, logo designer and banner desginer." />
<script src="js/vendor/modernizr-2.8.3.min.js">
</script>
</head>

<body data-spy="scroll" data-target=".navbar-default" data-offset="100">

<div id="preloader">

<div class="loader_line">
</div>
</div>

<header id="header" class="site_header">

<div class="site_navigation">

<div class="container-fluid">

<div class="row">

<div class="col-12"> <nav class="navbar navbar-expand-lg navigation_area"> <a class="navbar-brand site_logo" href="index.html"> <img src="images/logo.png" alt="logo" /> </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

<span class="navbar-toggler-icon">
</span> </button>

<div class="collapse navbar-collapse mainmenu_area" id="navbarNav">
<ul class="navbar-nav mainmenu">
<li class="nav-item"> <a class="nav-link smoot_scroll dots_effect active" href="#home" data-scroll-nav="0">Home

<span class="dot_effect dot_hover">
</span></a> </li>
<li class="nav-item"> <a class="nav-link smoot_scroll dots_effect" href="#about" data-scroll-nav="1">About

<span class="dot_effect dot_hover">
</span></a> </li>
<li class="nav-item"> <a class="nav-link smoot_scroll dots_effect" href="#services" data-scroll-nav="2">services

<span class="dot_effect dot_hover">
</span></a> </li>
<li class="nav-item"> <a class="nav-link smoot_scroll dots_effect" href="#work" data-scroll-nav="3">Work

<span class="dot_effect dot_hover">
</span></a> </li>
<li class="nav-item"> <a class="nav-link smoot_scroll dots_effect" href="#contact" data-scroll-nav="6">contact

<span class="dot_effect dot_hover">
</span></a> </li>
</ul>
</div> </nav>
</div>
</div>
</div>
</div> </header>

<div id="sticky_header">
</div>

<div class="site_wrapper bg_white"> <section id="home" class="section_scroll welcome_area" data-scroll-index="0">

<div class="bg_overlay bg_image page_cover" style="background-image:url('images/bg/2.jpg')">
</div>

<div id="particles-js">
</div>

<div class="home_wrapper_info">

<div class="container">

<div class="row justify-content-center">

<div class="col-lg-12">

<div class="home_text_block text-center"> <h3>

<span>Hello
</span></h3> <h1 class="cd-headline clip">

<span>I am
</span>

<span class="cd-words-wrapper"> <b class="is-visible">Deepak</b> <b>Web Developer</b> <b>Web Designer</b> <b>Graphic Desginer</b>
</span> </h1>
<ul class="expart_list">
<li>Web developer</li>
<li>Ux/Ui Designer</li>
<li>Web designer</li>
</ul>
<ul class="header_social_share">
<li><a href="https://www.facebook.com/profile.php?id=100007044906448"><i class="fa fa-facebook"></i></a></li>
<li><a href="https://www.instagram.com/deepak122809/"><i class="fa fa-instagram"></i></a></li>
<li><a href="https://api.whatsapp.com/send?phone=919354102198"><i class="fa fa-whatsapp"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>

<div class="scroll_indicator_wrapper"> <a href="#about" class="scroll_indicator scroll_down" data-scroll-goto="1"></a>
</div> </section>
</div> <section id="about" class="section_scroll" data-scroll-index="1">

<div class="about_area pb-110">

<div class="container">

<div class="row justify-content-center">

<div class="col-lg-8">

<div class="about_content text-center">

<div class="info"> <img src="images/about.jpg" alt="about"> <h3>Deepak kumar</h3> <h5>Web Developer</h5>
</div>

<p>Hi i am a professional web developer. I am working in this field from last 3 years as freelancer. I can make both static and dynamic website.</p>

<p>I know various language and technology to make a good website.</p>
<ul class="tag_list">
<li>bootstrap</li>
<li>html5</li>
<li>css3</li>
<li>PSD</li>
<li>jquery</li>
<li>github</li>
<li>javaScript</li>
<li>PHP</li>
<li>wordpress</li>
<li>git</li>
<li>Photoshop</li>
<li>Node js</li>
<li>Mongodb</li>
<li>My sql</li>
<li>illustrator</li>
</ul>
</div>
</div>
</div>
</div>
</div>

<div class="skill_area ptb-110 bg_gray">

<div class="container">

<div class="row">

<div class="col-lg-12">

<div class="skill_list">

<div class="single_skill"> <h3>Graphics design</h3>

<div class="progress_bar">

<span data-percent="88"><strong>88%</strong>
</span>
</div>
</div>

<div class="single_skill"> <h3>SEO</h3>

<div class="progress_bar">

<span data-percent="80"><strong>80%</strong>
</span>
</div>
</div>

<div class="single_skill"> <h3>UI/UX designing</h3>

<div class="progress_bar">

<span data-percent="98"><strong>98%</strong>
</span>
</div>
</div>

<div class="single_skill"> <h3>website development</h3>

<div class="progress_bar">

<span data-percent="95"><strong>95%</strong>
</span>
</div>
</div>

<div class="single_skill"> <h3>Wordpress development</h3>

<div class="progress_bar">

<span data-percent="92"><strong>92%</strong>
</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div> </section> <section id="services" class="services_area section_scroll ptb-110" data-scroll-index="2">

<div class="container">

<div class="row">

<div class="col-12">

<div class="section_title text-center"> <h3>

<span>services
</span></h3> <h2 class="title">Our

<span>Services.
</span></h2>
</div>
</div>
</div>

<div class="row justify-content-center">

<div class="col-lg-4 col-md-6">

<div class="single_service">

<div class="icon"> <img src="images/wordpress.svg" alt="wordpress" />
</div>

<div class="info"> <h2>Wordpress development</h2>

<p>We can make a beutiful responsive wordpress website. We will make you a brand that is catchy and leaves a trace. </p>
</div>
</div>
</div>

<div class="col-lg-4 col-md-6">

<div class="single_service">

<div class="icon"> <img src="images/nodejs.svg" alt="nodejs" />
</div>

<div class="info"> <h2>Node js development</h2>

<p>We can make a beutiful responsive Node js website. Node js is javascript framework.</p>
</div>
</div>
</div>

<div class="col-lg-4 col-md-6">

<div class="single_service">

<div class="icon"> <img src="images/web.svg" alt="design" />
</div>

<div class="info"> <h2>Graphic Designing</h2>

<p>There’s an artist hidden inside everyone, it’s time to recognize it. Web UI, Dashboard UI, Graphics all set.</p>
</div>
</div>
</div>

<div class="col-lg-4 col-md-6">

<div class="single_service">

<div class="icon"> <img src="images/development.svg" alt="Optimisation" />
</div>

<div class="info"> <h2>Optimisation</h2>

<p>Knowing the effective solution is the most impressing part. Website speed, Responsiveness all check.</p>
</div>
</div>
</div>

<div class="col-lg-4 col-md-6">

<div class="single_service">

<div class="icon"> <img src="images/customer-support.svg" alt="customize" />
</div>

<div class="info"> <h2>Customizability</h2>

<p>We can make website which you can also customize according to your requirement.</p>
</div>
</div>
</div>

<div class="col-lg-4 col-md-6">

<div class="single_service">

<div class="icon"> <img src="images/responsive.png" alt="responsive" />
</div>

<div class="info"> <h2>UI/UX designing</h2>

<p>We will make a best UI/UX design which will help your website to look good and enhance user experience. It will make your website more attractive.</p>
</div>
</div>
</div>
</div>
</div> </section> <section class="fanfact_area ptb-100 funfact_bg bg_image bg_overlay" style="background-image:url('images/bg/1.jpg')">

<div class="container">

<div class="row">

<div class="col-lg-3 col-md-6 col-sm-6">

<div class="single-fanfact">

<span class="flaticon-clock">
</span> <h3 class="counter">260</h3>

<p>working hours</p>
</div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6">

<div class="single-fanfact">

<span class="flaticon-gift">
</span> <h3 class="counter">20</h3>

<p>completed project</p>
</div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6">

<div class="single-fanfact">

<span class="flaticon-users">
</span> <h3 class="counter">10</h3>

<p>Happy client</p>
</div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6">

<div class="single-fanfact">

<span class="flaticon-trophy">
</span> <h3 class="counter">2</h3>

<p>winner award</p>
</div>
</div>
</div>
</div> </section> <section id="work" class="work_area section_scroll ptb-110" data-scroll-index="3">

<div class="container">

<div class="row">

<div class="col-12">

<div class="section_title text-center"> <h3>

<span>portfolio
</span></h3> <h2 class="title">

<span>Work.
</span></h2>
</div>
</div>
</div> <section id="portfolio" class="padd-80 ">

<div class="container">

<div class="row">

<div class="row-centered">

<div class="project-holder">

<div class="projetc-inner">

<div class="row">

<div class=" col-lg-4 col-md-4">

<div class="filter web-ui Graphic-design">

<div class="project_product">

<div class="project-holder"> <img src="assets/images/portflio/animation-studio-website-ui2.png" class="img-responsive" alt="" title="">

<div class="text-holder">

<div class="text-holder-outer">

<div class="text-holder-inner"> <h4>Website desgin</h4>

<div class="icon-holder"> <a href="assets/images/portflio/animation-studio-website-ui.png" class="modal-venobox project-link"> <i class=" icon_zoom-in_alt"></i> </a> <a href="assets/images/portflio/animation-studio-website-ui.png" class=" project-link"> <i class="icon_link_alt"></i> </a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class=" col-lg-4 col-md-4">

<div class="filter all web-ui Graphic-design">

<div class="project_product">

<div class="project-holder"> <img src="assets/images/portflio/attachement.png" class="img-responsive" alt="" title="">

<div class="text-holder">

<div class="text-holder-outer">

<div class="text-holder-inner"> <h4>Website desgin</h4>

<div class="icon-holder"> <a href="assets/images/portflio/attachment.jpg" class="modal-venobox project-link"> <i class=" icon_zoom-in_alt"></i> </a> <a href="assets/images/portflio/attachment.jpg" class=" project-link"> <i class="icon_link_alt"></i> </a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class=" col-lg-4 col-md-4">

<div class="filter all web-ui Graphic-design">

<div class="project_product">

<div class="project-holder"> <img src="assets/images/portflio/BEBEREXA2.jpg" class="img-responsive" alt="" title="">

<div class="text-holder">

<div class="text-holder-outer">

<div class="text-holder-inner"> <h4>Poster desgin</h4>

<div class="icon-holder"> <a href="assets/images/portflio/BABEREXA.jpg" class="modal-venobox project-link"> <i class=" icon_zoom-in_alt"></i> </a> <a href="assets/images/portflio/BABEREXA.jpg" class=" project-link"> <i class="icon_link_alt"></i> </a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class=" col-lg-4 col-md-4">

<div class="filter all web-ui Graphic-design">

<div class="project_product">

<div class="project-holder"> <img src="assets/images/portflio/attachment2.png" class="img-responsive" alt="" title="">

<div class="text-holder">

<div class="text-holder-outer">

<div class="text-holder-inner"> <h4>Website desgin</h4>

<div class="icon-holder"> <a href="assets/images/portflio/attachment2.png" class="modal-venobox project-link"> <i class=" icon_zoom-in_alt"></i> </a> <a href="assets/images/portflio/attachment2.png" class=" project-link"> <i class="icon_link_alt"></i> </a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class=" col-lg-4 col-md-4">

<div class="filter all web-ui Graphic-design">

<div class="project_product">

<div class="project-holder"> <img src="assets/images/portflio/attachement3.1.png" class="img-responsive" alt="" title="">

<div class="text-holder">

<div class="text-holder-outer">

<div class="text-holder-inner"> <h4>Website desgin</h4>

<div class="icon-holder"> <a href="assets/images/portflio/attachment3.png" class="modal-venobox project-link"> <i class=" icon_zoom-in_alt"></i> </a> <a href="assets/images/portflio/attachment3.png" class=" project-link"> <i class="icon_link_alt"></i> </a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class=" col-lg-4 col-md-4">

<div class="filter all web-ui Graphic-design">

<div class="project_product">

<div class="project-holder"> <img src="assets/images/portflio/Back.png" class="img-responsive" alt="" title="">

<div class="text-holder">

<div class="text-holder-outer">

<div class="text-holder-inner"> <h4>Business Card</h4>

<div class="icon-holder"> <a href="assets/images/portflio/Back.png" class="modal-venobox project-link"> <i class=" icon_zoom-in_alt"></i> </a> <a href="assets/images/portflio/Back.png" class=" project-link"> <i class="icon_link_alt"></i> </a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class=" col-lg-4 col-md-4">

<div class="filter all web-ui Graphic-design">

<div class="project_product">

<div class="project-holder"> <img src="assets/images/portflio/Front2.png" class="img-responsive" alt="" title="">

<div class="text-holder">

<div class="text-holder-outer">

<div class="text-holder-inner"> <h4>Business Card</h4>

<div class="icon-holder"> <a href="assets/images/portflio/Front2.png" class="modal-venobox project-link"> <i class=" icon_zoom-in_alt"></i> </a> <a href="assets/images/portflio/Front2.png" class=" project-link"> <i class="icon_link_alt"></i> </a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class=" col-lg-4 col-md-4">

<div class="filter all web-ui Graphic-design">

<div class="project_product">

<div class="project-holder"> <img src="assets/images/portflio/logo1.png" class="img-responsive" alt="" title="">

<div class="text-holder">

<div class="text-holder-outer">

<div class="text-holder-inner"> <h4>Logo</h4>

<div class="icon-holder"> <a href="assets/images/portflio/logo1.png" class="modal-venobox project-link"> <i class=" icon_zoom-in_alt"></i> </a> <a href="assets/images/portflio/logo1.png" class=" project-link"> <i class="icon_link_alt"></i> </a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class=" col-lg-4 col-md-4">

<div class="filter all web-ui Graphic-design">

<div class="project_product">

<div class="project-holder"> <img src="assets/images/portflio/logo2.png" class="img-responsive" alt="" title="">

<div class="text-holder">

<div class="text-holder-outer">

<div class="text-holder-inner"> <h4>Logo</h4>

<div class="icon-holder"> <a href="assets/images/portflio/logo2.jpg" class="modal-venobox project-link"> <i class=" icon_zoom-in_alt"></i> </a> <a href="assets/images/portflio/logo2.jpg" class=" project-link"> <i class="icon_link_alt"></i> </a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class=" col-lg-4 col-md-4">

<div class="filter all web-ui Graphic-design">

<div class="project_product">

<div class="project-holder"> <img src="assets/images/portflio/ROYALRESTAURENT.png" class="img-responsive" alt="" title="">

<div class="text-holder">

<div class="text-holder-outer">

<div class="text-holder-inner"> <h4>Banner Desgin</h4>

<div class="icon-holder"> <a href="assets/images/portflio/ROYALRESTAURENT.png" class="modal-venobox project-link"> <i class=" icon_zoom-in_alt"></i> </a> <a href="assets/images/portflio/ROYALRESTAURENT.png" class=" project-link"> <i class="icon_link_alt"></i> </a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div> </section>
</div> </section> <section class="contact_area section_scroll bg_gray ptb-110" data-scroll-index="6">

<div class="container">

<div class="row">

<div class="col-lg-12">

<div class="section_title text-center"> <h3>

<span>contact
</span></h3> <h2 class="title">Get In

<span>Touch.
</span></h2>
</div>
</div>
</div>

<div class="row">

<div class="col-lg-6">

<div class="single_contact_info">

<span class="fa fa-phone">
</span>

<div class="info"> <h4>Phone : </h4>

<p>+91 9354102198</p>
</div>
</div>

<div class="single_contact_info">

<span class="fa fa-map-marker">
</span>

<div class="info"> <h4>Address : </h4>

<p>H.no 440 - Shahbad mohd.pur new delhi 110061 </p>
</div>
</div>

<div class="single_contact_info">

<span class="fa fa-envelope">
</span>

<div class="info"> <h4>Email : </h4>

<p>dk122809@gmail.com</p>
</div>
</div>
</div>

<div class="col-lg-6">

<form class="form" id="contact-form" action="/contact" method="post">

<div class="row">

<div class="col-md-6 pt_right">

<div class="form-group">
<input class="form-controller" id="name" name="name" placeholder="Name" required="required" type="text">
</div>
</div>

<div class="col-md-6">

<div class="form-group">
<input class="form-controller" id="email" name="email" placeholder="Email" required="required" type="email">
</div>
</div>

<div class="col-md-12">

<div class="form-group">
<input class="form-controller" id="subject" name="subject" placeholder="Subject" type="text">
</div>
</div>

<div class="col-md-12">

<div class="form-group">
<textarea class="form-controller" id="message" name="message" placeholder="Message" required="required">
</textarea>
</div>
</div>

<div class="col-md-12 text-center"> <button type="submit" class="btn btn-default btn-sumbit">

<span>Send
</span></button>
</div>
</div>
</form>
</div>
</div>
</div> </section>

<div id="section_scroller_button">

<span class="fa fa-angle-down">
</span>
</div> <footer id="footer" class="footer section_scroll">

<div class="footer-widgets-area ptb-80">

<div class="container">

<div class="row justify-content-center">

<div class="col-lg-7">

<div class="footer_description text-center"> <a class="footer_logo site_logo" href="index.html"><img src="images/logo.png" alt="logo"></a>

<p>We love who we are and we are very proud to work with you. We provide quality work.</p>
<ul class="footer_social_share">
<li><a href="https://www.facebook.com/profile.php?id=100007044906448"><i class="fa fa-facebook"></i></a></li>
<li><a href="https://www.instagram.com/deepak122809/"><i class="fa fa-instagram"></i></a></li>
<li><a href="https://api.whatsapp.com/send?phone=919354102198"><i class="fa fa-whatsapp"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>

<div class="footer-bottom-area text-center">

<div class="container">

<div class="row">

<div class="col-md-12">

<div class="copyright">

<p>&copy; 2018 Copyright Deepak All rights reserved.</p>
</div>
</div>
</div>
</div>
</div> </footer>
<script src="assets/js/jquery-1.12.4.min.js">
</script>
<script src="assets/js/owl.carousel.min.js">
</script>
<script src="assets/js/magnific-popup.min.js">
</script>
<script src="assets/js/venobox.min.js">
</script>
<script src="js/bootstrap.min.js">
</script>
<script src="js/popper.min.js">
</script>
<script src="js/plugins.js">
</script>
<script src="js/jquery.appear.js">
</script>
<script src="js/main.js">
</script>
<script src="js/pace.min.js">
</script>
<script type="application/ld+json">{ "@context": "http://schema.org/", "@type": "WebSite", "name": "deepak portfolio", "alternateName": "web developer", "url": "https://stark-bastion-20221.herokuapp.com/", "potentialAction": { "@type": "SearchAction", "target": "https://stark-bastion-20221.herokuapp.com/{search_term_string}", "query-input": "required name=search_term_string" }}
</script>
<script> particlesJS('particles-js',{ "particles": { "number": { "value": 50, "density": { "enable": true, "value_area": 800 } }, "color": { "value": ["#F5B041","#5DADE2","#48C9B0","#F7DC6F"] }, "shape": { "type": "circle", "stroke": { "width": 0, "color": "#888" }, "polygon": { "nb_sides": 5 }, "image": { "src": "img/github.svg", "width": 100, "height": 100 } }, "opacity": { "value": 0.5, "random": false, "anim": { "enable": false, "speed": 3, "opacity_min": 0.1, "sync": false } }, "size": { "value": 5, "random": true, "anim": { "enable": false, "speed": 40, "size_min": 0.1, "sync": false } }, "line_linked": { "enable": true, "distance": 150, "color": "#888", "opacity": 0.4, "width": 1 }, "move": { "enable": true, "speed": 6, "direction": "none", "random": false, "straight": false, "out_mode": "out", "attract": { "enable": false, "rotateX": 600, "rotateY": 1200 } } }, "interactivity": { "detect_on": "canvas", "events": { "onhover": { "enable": true, "mode": "repulse" }, "onclick": { "enable": true, "mode": "push" }, "resize": true }, "modes": { "grab": { "distance": 400, "line_linked": { "opacity": 1 } }, "bubble": { "distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3 }, "repulse": { "distance": 200 }, "push": { "particles_nb": 4 }, "remove": { "particles_nb": 2 } } }, "retina_detect": true, "config_demo": { "hide_card": false, "background_color": "#b61924", "background_image": "", "background_position": "50% 50%", "background_repeat": "no-repeat", "background_size": "cover" } } );
</script>
</body>
</html>